@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}
